<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center mt-5 py-2 bg-dark text-white">ToDo-List</h3>
    </div>
  </div>
  <div class="row">
    <app-taskadd (newTodoInfoEvent)="addNewTask($event)"></app-taskadd>
  </div>
  <div class="row">
    <div class="col-6">
      <app-task [myTodoList]="todoList" (doneEventEmitter)="completeTask($event)"> </app-task>
    </div>
    <div class="col-6">
      <app-task-completed [completedTask]="todoList"  (oldItemEvent)="inCompleteTask($event)"></app-task-completed>
    </div>
  </div>
</div>
